main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    text-align: center;
}
form {
    
    width: 256px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.175);
    border-radius: 10px;
}

form[action="/create"]{
    height: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

footer {
    height: 10vh;
    border-top: solid 3px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}