* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#note{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.add{
    position: absolute;
    right: 20px;
    top: 22px;
}

#note input, #note textarea {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    resize: none;
    overflow: auto;
    color: white;
}

#note textarea {
    width: 100%;
    height: 100%;
}

#note input[type="text"]{
    font-size: 25px;
}

a {
    text-decoration: none;
    padding: 5px;
    color: white;   
}

#btn_update {
    display: none;
}

#update {
    display: none;
}

.options{
    display: flex;
    width: 100%;
    opacity: 0;
    justify-content: space-between;
    transition: ease .2s;
}

.notes:hover .options{
    opacity: 1;
    transition: ease .2s;
}

#new {
    display: none;
}

.modal {
    display: flex;
}

.title, .description {
    display: flex;
    flex-direction: column;
}

#cancel {
    display: none;
}
