<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark" style="text-align: center;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><h1>Administrador</h1></a>
                
            </div>
            <a href="/" class="btn btn-danger" style="margin-right: 11%;">Salir</a>
            </nav>
    </header>

    <main>
        <div style="display: flex; justify-content: center; margin: 20px;">
            <h2>Lista de Usuarios</h2>
        </div>
        <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Contraseñas</th>
            <th scope="col">Número de Notas</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(d => { %>
                <tr>
                    <th scope="row"><%=d.id%></th>
                    <td><%=d.username%></td>
                    <td><%=d.email%></td>
                    <td><%=d.password%></td>
                    <td><%=d.count_notes%></td>
                </tr>
            <% }); %>            
        </tbody>
        </table>
    </main>
</body>

</html>